// config_dialog.rc
// † <-- This dagger helps UTF-8 detection.

#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#include <commctrl.h>
#undef APSTUDIO_HIDDEN_SYMBOLS
#pragma code_page(65001) // UTF-8

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

PTKCONFIGDIALOG DIALOGEX 0, 0, 400, 274
CAPTION "PSDToolKit Settings"
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 9, "Segoe UI", 400, 0, 128
{
    DEFPUSHBUTTON "&OK", IDOK, 276, 252, 56, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 336, 252, 56, 14

    GROUPBOX "Audio File Drop Extension", 100, 8, 4, 384, 176

    GROUPBOX "Trigger Conditions", 110, 16, 18, 368, 154

    LTEXT "When dropping files manually:", 120, 24, 34, 352, 10

    AUTOCHECKBOX "When dropping *.wav file while holding &Shift key", 121, 32, 48, 344, 10
    AUTOCHECKBOX "When dropping *.wav and *.txt files with the same name &together", 122, 32, 62, 344, 10
    AUTOCHECKBOX "When dropping *.object containing only &audio and text on the same frame", 123, 32, 76, 344, 10

    LTEXT "When dropping via external API:", 130, 24, 98, 352, 10

    AUTOCHECKBOX "When dropping *.wav and *.txt files with the same name t&ogether", 131, 32, 112, 344, 10
    AUTOCHECKBOX "When dropping *.object containing only a&udio and text on the same frame", 132, 32, 126, 344, 10

    GROUPBOX "PSD File Drop", 140, 8, 184, 384, 28
    AUTOCHECKBOX "Only create PSD file object when dropping *.&psd/*.psb file while holding Shift key", 141, 16, 196, 368, 10

    GROUPBOX "Debug", 150, 8, 218, 384, 28
    AUTOCHECKBOX "Enable &debug mode", 151, 16, 230, 368, 10
}

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include <windows.h>\r\n"
    "#include <commctrl.h>\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED
